/* entire screen */
html {
  background-color: #ffffff;
}

/* CSS For Title Page */
#title_page {
    background-image: url("./img/tmp_clown_bg.jpeg");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  
  #title_page main {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  button {
    background-color: #c90000;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 55%;
  }
  
  /* CSS For Dress Up Page */
  body {
      margin: 0;
      padding: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      line-height: 1.5em;
    }
    
    header {
      background: #f9ffc7;
      height: 110px;
      border: inset 20px #e80808;
      margin: 10px;
    }
    
    h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: 0;
      padding-top: 35px;
      text-align: center;
      word-spacing: 5px;
      text-decoration: underline;
    }
    
    h2 {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    
    h3 {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    h4 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: 0;
      padding-top: 45px;
      text-align: center;
      word-spacing: 5px;
      font-size: 55px;
      color: rgb(202, 4, 4);
    }
  
   #wrapper {
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 50px;
      float: left;
      width: 100%;
      overflow: hidden;
    }
    
    #accessories {
      padding-top: 10px;
      padding-bottom: 10px;
      float: left;
      max-width: 415px;
      max-height: 100%;
      margin-left: -495px;
      background: #fff5ec;
      border: inset 8px #e50000;
      margin-top: 15px;
    }
          
    #clownZone {
      border: inset 8px #c90000;
      margin-right: 490px;
      margin-top: 15px;
      background-image: url("./img/placeholder_img.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
    }
    
    .cushion {
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 20px;
    }
  
    .cushion1 {
      margin: 15px; /* Padding for content */
      column-count: 2;
      column-fill: balance;
      column-width: 120px;
      column-gap: 15px;
      position: relative;
    }
    
    p {
      color: #555;
      text-align: center;
    
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding-left: 20px;
      padding-bottom: 5px;
    }
    
    nav ul a {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 25px;
      color: rgb(88, 0, 57);
    }

    nav img {
      position: relative;
      z-index: 1;
      cursor: grab;
    }
    
    .bg-photo {
      max-width: 1056px;
      max-height: 845px;
      border: inset 4px #4f1b51;
    }
  
    .doll-base {
      position: relative;
      z-index: 0;
      display: block;
      margin: auto;
      cursor: grab;
      max-width: 400px;
      max-height: 530px;
      padding-top: 20px;
    }
  
    .clown-hair {
      max-width: 120px;
      max-height: 96px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 15px;
    }
    