body {
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
  }
  
  header {
    background: #ffffff;
    height: 110px;
    border: inset 20px #e80808;
    cursor: grab;
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    padding-top: 35px;
    text-align: center;
    word-spacing: 5px;
    text-decoration: underline;
  }
  h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  }
  
  h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  
  h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    padding-top: 45px;
    text-align: center;
    word-spacing: 5px;
    font-size: 55px;
    color: rgb(202, 4, 4);
  }
  main {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 50px;
    float: left;
    width: 100%;
    cursor: grab;
  }
  
  #accessories {
    padding-top: 30px;
    padding-bottom: 460px;
    margin-bottom: 0px;
    float: left;
    width: 415px;
    margin-left: -492px;
    background: #ffffff;
    height: 100%;
    cursor: grab;
    border: inset 8px #e50000;
    margin-top: 20px;
  }
  
  
  #wrapper {
    overflow: hidden;
  }
        
  #clownZone {
    border: inset 8px #c90000;
    margin-right: 490px;
    margin-top:20px;
    background-image: url(https://raw.githubusercontent.com/bruceb002/art101_clown_proj/main/img/placeholder_img.jpeg);
  }
  
  
  .cushion {
    margin: 15px; /* Padding for content */
    margin-top: 0;
  }

  .cushion1 {
    margin: 15px; /* Padding for content */
    column-count: 2;
    column-fill: balance;
    column-width: 120px;
    column-gap: 15px;
    position: relative;
  }
  
  p {
    color: #555;
    text-align: center;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    cursor: crosshair;
  }
  
  nav ul a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(88, 0, 57);
    cursor: crosshair;
  }
  

  .bg-photo {
  
    max-width: 1056px;
    max-height: 845px;
    border: inset 4px #4f1b51;
  }
  .doll-base {
    position:relative;
    left: 32%;
    max-width: 425px;
    max-height: 635px;
    padding-top: 115px;
  }
  .clown-hair {
    max-width: 150px;
    max-height: 120px;
    padding: 15px;
  }