/* entire screen */
html {
  width: 100%;
  height: 100%;
}

body {
  width:inherit;
  height:inherit;
  margin: auto;
}

main {
  width: inherit;
  height: inherit;
  text-align: center;
}

/* CSS For Title Page */
#title_page main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./img/title_clown.JPG");
  background-size:contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

/* CSS For Title Page */
#title_page {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./img/background.jpg");
}

#title_page button {
  background-color: #c90000;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 15%;
  text-align: center;
  font-size: 20px;
  font-family: Copperplate, Papyrus, fantasy;
}

/* CSS For Dress Up Page */
#dress_up_page {
  width: inherit;
  height: inherit;
  padding: 15px;
}

#header {
  width: 95%;
  background: #f9ffc7;
  border: inset 20px #ff4646;
  margin-bottom: 15px;
  
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  word-spacing: 5px;
  font-size: 55px;
  color: rgb(255 0 0);
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  color: rgb(165, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wrapper {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 60% 30%;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
  height: 80%;
  width: 100%;
}

#accessories {
  height: 100%;
  width: 100%;
  margin: auto;
  padding-bottom: 15px;
  background: transparent;
  overflow-y: scroll;
  border: inset 8px #e50000;
}

#hair-accessories, #eye-accessories, 
#nose-accessories, #mouth-accessories,
#shirt-accessories, #hand-accessories,
#pant-accessories, #shoe-accessories, 
#other-accessories {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  margin: auto;
}

#hair-accessories .hair, #eye-accessories .eye, 
#nose-accessories .nose, #mouth-accessories .mouth,
#shirt-accessories .shirt, #hand-accessories .gloves,
#pant-accessories .pant, #shoe-accessories .shoes,
#other-accessories .makeup, #other-accessories .hat,
#other-accessories .neck {
  margin: auto;
  margin-bottom: 25px;
}

/* hair */
#doll-container .hair {
  max-width: 15%;
}

#accessories .hair {
  max-width: 120px;
  max-height: 96px;
}

/* eyes */
#doll-container .eye {
  max-width: 5%;
}

#accessories .eye {
  max-width: 40px;
  max-height: 80px;
}

/* nose */
#doll-container .nose {
  max-width: 3%;
}

#accessories .nose {
  max-width: 25px;
  max-height: 25px;
}

/* mouth */
#doll-container .mouth {
  max-width: 5%;
}

#accessories .mouth {
  max-width: 35px;
  max-height: 75px;
}


/* shirt */
#doll-container .shirt {
  max-width: 30.5%;
}

#shirt-accessories .shirt {
  max-width: 120px;
  max-height: 120px;
}

/* gloves */
#doll-container .gloves {
  max-width: 42%;
}

#hand-accessories .gloves {
  max-width: 120px;
  max-height: 45px;
}

/* pants */
#doll-container #red_polka_dot_pants,
#doll-container #yp_poka_dot_pants {
  max-width: 19%;
}

#doll-container #striped_pants 
 {
  max-width: 23%;
}

#doll-container #skirt { /* still needs change */
  max-width: 170px;
  max-height: 170px;
}

#pant-accessories .pant {
  max-width: 120px;
  max-height: 120px;
}

/* shoes */
#doll-container .shoes {
  max-width: 28%;
}

#shoe-accessories .shoes {
  max-width: 120px;
  max-height: 45px;
}

/* Other accessories */

#doll-container .makeup {
  max-width: 10.5%;
}

#doll-container .neck {
  max-width: 15%;
}

#doll-container .hat {
  max-width: 15%;
}

#other-accessories .makeup,  #other-accessories .neck, #other-accessories .hat {
  max-width: 120px;
  max-height: 45px;
}

nav img {
  position: relative;
  cursor: grab;
}

#doll-container {
  position: relative; 
  display: flex; 
  justify-content: center;
}
      
#clownZone {
  margin: auto;
  position: relative;
  z-index: 1;
  border: inset 8px #c90000;
  padding-top: 110px;
  padding-bottom: 15px;
  background-image: url("./img/placeholder_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: grab;
}

#doll-base {
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
  max-width: 42%;
}
